<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.selenium.sdjubbs.common.mapper.BlockMapper">
    <select id="getBlockCount" resultType="Integer">
        select count(*)
        from block
    </select>
    <select id="getAllBlock" resultType="Block">
        select id,block_picture,title,author_id,author_name,article_num,save_num,create_time
        from block
        order by save_num desc,article_num desc
    </select>
    <select id="getAllBlockBySearch" resultType="Block">
        select id,block_picture,title,author_id,author_name,article_num,save_num,create_time
        from block
        where title like concat(concat('%',#{search}),'%')
        order by save_num desc,article_num desc
    </select>
    <select id="getAllBlockForUser" resultType="Block">
        select id,block_picture,title,author_id,author_name,article_num,save_num,create_time
        from block
        where article_num !=0
        order by save_num desc,article_num desc
    </select>
    <select id="getBlockById" resultType="Block">
        select id,block_picture,title,author_id,author_name,article_num,save_num,create_time
        from block
        where id = #{id}
    </select>
    <update id="updateBlock" parameterType="Block">
        update block
        <set>
            <if test="id!=null">
                id = #{id},
            </if>
            <if test="blockPicture!=null">
                block_picture= #{blockPicture},
            </if>
            <if test="title!=null">
                title= #{title},
            </if>
            <if test="authorId!=null">
                author_id= #{authorId},
            </if>
            <if test="authorName!=null">
                author_name= #{authorName},
            </if>
            <if test="articleNum!=null">
                article_num= #{articleNum},
            </if>
            <if test="saveNum!=null">
                save_num= #{saveNum},
            </if>
        </set>
        where id = #{id}
    </update>
    <insert id="addBlock" useGeneratedKeys="true" parameterType="Block">
        insert into
        block(title,block_picture,author_id,author_name,article_num,save_num,create_time)
        values
        (#{title},#{blockPicture},#{authorId},#{authorName},#{articleNum},#{saveNum},#{createTime})
    </insert>
</mapper>