<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.selenium.sdjubbs.common.mapper.CommentMapper">
    <select id="getCommentByArticleId" resultType="Comment">
              select id,content,create_time,article_id,user_id,user_name
              from comment
              where article_id = #{id}
              order by create_time
    </select>
    <select id="getCommentById" resultType="Comment">
         select id,content,create_time,article_id,user_id,user_name
         from comment
         where id = #{id}
    </select>
    <insert id="addComment">
        insert into comment(content,create_time,article_id,user_id,user_name)
        values(#{content},#{createTime},#{articleId},#{userId},#{userName})
    </insert>
</mapper>