<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.selenium.sdjubbs.common.mapper.FeatureMapper">
    <select id="getAllFeature" resultType="Feature">
        select id,feature_name,info,front_image_path,back_image_path,path
        from feature
    </select>
</mapper>