<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.selenium.sdjubbs.common.mapper.ReplyMapper">
    <select id="getReplyCount" resultType="Integer">
        select count(*)
        from reply
    </select>
    <insert id="addReply" parameterType="Reply">
        insert into reply(content,create_time,comment_id,send_user_id,send_user_name,receiver_user_id,receiver_user_name)
        values(#{content},#{createTime},#{commentId},#{sendUserId},#{sendUserName},#{receiverUserId},#{receiverUserName})
   </insert>
    <select id="getReplyByCommentId" resultType="Reply">
        select id,content,create_time,comment_id,send_user_id,send_user_name,receiver_user_id,receiver_user_name
        from reply
        where comment_id = #{commentId}
        order by create_time
    </select>
</mapper>