<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.selenium.sdjubbs.common.mapper.UserMapper">
    <insert id="addUser" useGeneratedKeys="true" parameterType="User">
        insert into user(username,password,salt,age,gender,email,phone,head_picture,register_time,last_login_time,status)
        values (#{username},#{password},#{salt},#{age},#{gender},#{email},#{phone},#{headPicture},#{registerTime},#{lastLoginTime},#{status})
    </insert>
    <select id="getUserByUsername" parameterType="String" resultType="User">
        select id,username,password,salt,age,gender,email,phone,head_picture,register_time,last_login_time,status
        from user
        where username = #{username}
    </select>
    <select id="getUserByEmail" parameterType="String" resultType="User">
        select username,password,salt,age,gender,email,phone,head_picture,register_time,last_login_time,status
        from user
        where email = #{email}
    </select>
    <select id="getAllUser" resultType="User">
        select id,username,gender,email,phone,head_picture,register_time,last_login_time,status
        from user
    </select>
</mapper>